  <div class="container page-content">
    <div class="row">
       <div class="col-md-10 col-md-offset-1">
         <div class="row">
           <div class="col-md-12">
             <div class="bg-picture" style="background-image:url('./img/cover.jpg')">
                <span class="bg-picture-overlay"></span><!-- overlay -->
                <!-- meta -->
                <div class="box-layout meta bottom">
                  <div class="col-md-6 clearfix">
                    <span class="img-wrapper pull-left m-r-15">
                        <% if user_signed_in? %>
                  <div>
                       <%= audio_tag("song1.mp3", autoplay: false, controls: true) %> 
                      
                   <br>
                       <%= @user.first_name %>
                 </div>
                  <% end %>
                    </span>
                </div>
                  <div class="col-md-6">
                    <div class="pull-right">
                      <div class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle btn btn-azure" href="#" aria-expanded="false"> Following <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a href="#">Poke</a></li>
                            <li><a href="#">Private message</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Unfollow</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div><!--/ meta -->
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Nav tabs -->
            <ul class="nav nav-pills nav-pills-custom-minimal custom-minimal-bottom profile-tabs">
              <li role="presentation" class="active"><a href="#timeline" aria-controls="timeline" role="tab" data-toggle="tab">Timeline</a></li>
              <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">About</a></li>
              <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Friends</a></li>
              <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Photos</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <!-- Timeline -->
              <div role="tabpanel" class="tab-pane active" id="timeline">
                <div class="row">
                  <div class="col-md-5">
                    <div class="widget">
                      <div class="widget-header">
                        <h3 class="widget-caption">About</h3>
                      </div>


  <% if user_signed_in? %>
<div class="widget-body bordered-top bordered-sky">
  <ul class="list-unstyled profile-about margin-none">
   <li class="padding-v-5">
    <div class="row">
     <div class="col-sm-4"><span class="text-muted">Date of Birth</span></div>
      <div class="col-sm-8"><%=current_user.dob%></div>
    </div>
   </li>
      <li class="padding-v-5">
       <div class="row">
         <div class="col-sm-4"><span class="text-muted">Email</span></div>
         <div class="col-sm-8"><%=current_user.email%></div>
       </div>
      </li>
  </ul>
 </div>
</div>
              <% end %>

 <% if @friends.present? %>
   <div class="widget widget-friends">
     <div class="widget-header">
      <h3 class="widget-caption">Friends</h3>
     </div>
      <div class="widget-body bordered-top  bordered-sky">
        <div class="row">
          <div class="col-md-12">
              <ul class="img-grid" style="margin: 0 auto;">
                <li>
                  <% @friends.each do |user| %>
                    <%=image_tag user.image_url,id: 'image_id' %>
                    <%= user.first_name %>
                      
                  <% end %>
                 </li>

               </ul>
           </div>
        </div>
      </div>
    </div>
 <% end %>
                     
     



                    
                    <div class="widget">
                      <div class="widget-header">
                        <h3 class="widget-caption">Groups</h3>
                      </div>
                      <div class="widget-body bordered-top bordered-sky">
                        <div class="card">
                          <div class="content">
                            <ul class="list-unstyled team-members">
                              <li>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="avatar">
                                            <img src="img/Likes/likes-1.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                       Github
                                    </div>

                                    <div class="col-xs-3 text-right">
                                        <btn class="btn btn-sm btn-azure btn-icon"><i class="fa fa-user"></i></btn>
                                    </div>
                                </div>
                              </li>
                              <li>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="avatar">
                                            <img src="img/Likes/likes-3.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        Css snippets
                                    </div>

                                    <div class="col-xs-3 text-right">
                                        <btn class="btn btn-sm btn-azure btn-icon"><i class="fa fa-user"></i></btn>
                                    </div>
                                </div>
                              </li>
                              <li>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="avatar">
                                            <img src="img/Likes/likes-2.png " alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        Html Action
                                    </div>

                                    <div class="col-xs-3 text-right">
                                        <btn class="btn btn-sm btn-azure btn-icon"><i class="fa fa-user"></i></btn>
                                    </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--============= timeline posts-->
                  <div class="col-md-7">
                    <div class="row">
                      <!-- left posts-->
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-12">
                          <!-- post state form -->
                            <div class="box profile-info n-border-top">
                              <form>
                                  <textarea class="form-control input-lg p-text-area" rows="2" placeholder="Whats in your mind today?"></textarea>
                              </form>
                              <div class="box-footer box-form">
                                  <button type="button" class="btn btn-azure pull-right">Post</button>
                                  <ul class="nav nav-pills">
                                      <li><a href="#"><i class="fa fa-map-marker"></i></a></li>
                                      <li><a href="#"><i class="fa fa-camera"></i></a></li>
                                      <li><a href="#"><i class=" fa fa-film"></i></a></li>
                                      <li><a href="#"><i class="fa fa-microphone"></i></a></li>
                                  </ul>
                              </div>
                            </div><!-- end post state form -->
<%= render partial: "feeds/feed", collection: @feeds, as: :feed %>
                            <!--   posts -->
                            <div class="box box-widget">
                              <div class="box-header with-border">
                                <div class="user-block">
                                  <img class="img-circle" src="./img/guy-5.jpg" alt="User Image">
                                  <span class="username"><a href="#">John Breakgrow jr.</a></span>
                                  <span class="description">Shared publicly - 7:30 PM Today</span>
                                </div>
                              </div>

                              <div class="box-body" style="display: block;">
                                <img class="img-responsive show-in-modal" src="img/Post/young-couple-in-love.jpg" alt="Photo">
                                <p>I took this photo this morning. What do you guys think?</p>
                                <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
                                <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
                                <span class="pull-right text-muted">127 likes - 3 comments</span>
                              </div>
                              <div class="box-footer box-comments" style="display: block;">
                                <div class="box-comment">
                                  <img class="img-circle img-sm" src="./img/guy-5.jpg" alt="User Image">
                                  <div class="comment-text">
                                    <span class="username">
                                    Maria Gonzales
                                    <span class="text-muted pull-right">8:03 PM Today</span>
                                    </span>
                                    It is a long established fact that a reader will be distracted
                                    by the readable content of a page when looking at its layout.
                                  </div>
                                </div>

                                <div class="box-comment">
                                  <img class="img-circle img-sm" src="./img/guy-5.jpg" alt="User Image">
                                  <div class="comment-text">
                                    <span class="username">
                                    Luna Stark
                                    <span class="text-muted pull-right">8:03 PM Today</span>
                                    </span>
                                    It is a long established fact that a reader will be distracted
                                    by the readable content of a page when looking at its layout.
                                  </div>
                                </div>
                              </div>
                              <div class="box-footer" style="display: block;">
                                <form action="#" method="post">
                                  <img class="img-responsive img-circle img-sm" src="./img/guy-5.jpg" alt="Alt Text">
                                  <div class="img-push">
                                    <input type="text" class="form-control input-sm" placeholder="Press enter to post comment">
                                  </div>
                                </form>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div><!-- end left posts-->
                    </div>
                  </div><!-- end timeline posts-->
                </div>
              </div><!-- end timeline -->
              <!-- about -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
