  <h1>Welcome</h1>

      <div id="user_nav">
  <% if user_signed_in? %>
       Signed in as <%= current_user.email %>
      <br> First Name
       <%= current_user.first_name %>. 
       <br> Last Name
       <%= current_user.last_name %>
       <br> DOB
          <%= current_user.dob %>
       <br>
        Not you?

      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
   
       <%= link_to 'Edit',edit_user_registration_path %>

  <% else %>
      <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
     <% end %>
  </div>
